node_modules
dist
npm-debug.log
*.log
.git
.github
.husky
.agent
.vscode
.idea
test
coverage
.env*
! .env.example
*.md
Dockerfile
docker-compose*.yml
.prettierrc
eslint.config.mjs
nest-cli.json
tsconfig*.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.cache
